.box
{
    width: 150px;
    height:150px;
    background-color: aqua;
    border: 2px solid blue;
    margin-bottom: 20px;
}
.box1
{
    position: static;
    
}
.box2
{
    position: relative;
    left: 300px;
    top: 40px;
}
.box3
{
    position: absolute;
    left: 300px;
    top: 40px;
}
 .box4
{
    position: sticky;
    top:0px;
}

.box5
{
    position: fixed;
    bottom: 10px;
    right: 10px;
} 