.hall
{
    box-shadow: 10px 10px 10px rgb(236, 231, 231);
    position: relative;
    height:400px;
    width: 400px;
    background-color: rgb(244, 236, 236);
    border: 3px solid  rgb(244, 236, 236);
    border-radius: 50px;
}
.tv
{
    text-align: center;
    position: absolute;
    height: 70px;
    width: 150px;
    background-color: yellow;
    left: 125px;
}

.sofa
{
    text-align: center;
    position: absolute;
    height: 50px;
    width: 250px;
    background-color:green;
    top:140px;
    left: 75px;
}

.fridge
{
    text-align: center;
    position: absolute;
    height: 100px;
    width: 50px;
    background-color: red;
    right: 0px;
    bottom: 0px;
}
.ac
{
    text-align: center;
    position: absolute;
    height: 20px;
    width: 50px;
    background-color: rgb(105, 45, 235);
    left: 10px;
    bottom: 0px;
}